In [38]:
#let s import our dependencies
import pandas as pd
import numpy as np

#file path
file="Resources/purchase_data.csv"

#read the file
purchase_data_df= pd.read_csv(file)
purchase_data_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

Player Count

In [3]:
#Calculate and display total number of players 
total_players = len(purchase_data_df['SN'].value_counts())
pd.DataFrame({"Total Players": [total_players]})

   Total Players
0            576

In [ ]:
Purchasing Analysis (Total)

In [ ]:
Run basic calculations to obtain number of unique items, average price, etc.
Create a summary data frame to hold the results
Optional: give the displayed data cleaner formatting
Display the summary data frame

In [84]:
# let s find the number of unique items in our dataset
unique_items= len(purchase_data_df["Item ID"].value_counts())
unique_items

# what is the average price of items?
avg_price = purchase_data_df["Price"].mean()
avg_price = '$%.2f' % avg_price
avg_price

# what s the number of purchases?
number_purchase = len(purchase_data_df["Purchase ID"].value_counts())
number_purchase

# Now calculate the Total Revenue
total_revenue = purchase_data_df["Price"].sum()
total_revenue = '$%.2f' % total_revenue
total_revenue

# display result in a summary data frame
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                           "Average Price":[avg_price],
                           "Number of Purchases":[number_purchase],
                           "Total Revenue":[total_revenue]})
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [ ]:
Gender Demographics

Percentage and Count of Male Players
Percentage and Count of Female Players
Percentage and Count of Other / Non-Disclosed

In [73]:
# what s the gender count and what percentage each represent?
# First let s create gender table with grouped by method
gender_df = purchase_data_df.groupby(["Gender"])
gender_df

# now let s find the each gender count and their percentage
total_gender_count = gender_df["SN"].nunique()
total_gender_count
gender_percentage = total_gender_count / total_players * 100
gender_percentage

#display result in a summary data frame
gender_summary_df = pd.DataFrame({"Total Count": total_gender_count, "Percentage of Players": gender_percentage})
gender_summary_df          

# Format Percentage of Players column
gender_summary_df["Percentage of Players"] = gender_summary_df["Percentage of Players"].map("{:.2f}%".format)
gender_summary_df

gender_summary_df[["Total Count", "Percentage of Players"]].sort_values(["Total Count"], ascending=False)

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

Purchasing Analysis (Gender)

Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
Create a summary data frame to hold the results
Optional: give the displayed data cleaner formatting
Display the summary data frame

In [111]:
#let s find purchase count
purchase_count = gender_df['Purchase ID'].count()
purchase_count

# let s find the average purchase price
avg_purchase_price = gender_df['Price'].mean()
avg_purchase_price 

#let s find the Total Purchase Value
purchase_value = gender_df['Price'].sum()
purchase_value

#let s find the avg total purchase per person
purchase_per_person = purchase_value/total_gender_count
purchase_per_person

#put results in summary data frame
purchase_summary_df = pd.DataFrame({"Purchase Count": purchase_count,
                                    "Average Purchase Price": avg_purchase_price,
                                   "Total Purchase Value": purchase_value,
                                   "Avg Total Purchase per Person": purchase_per_person})


#let s format the table
purchase_summary_df['Average Purchase Price'] = purchase_summary_df['Average Purchase Price'].map('${:,.2f}'.format)
purchase_summary_df['Total Purchase Value'] = purchase_summary_df['Total Purchase Value'].map('${:,.2f}'.format)
purchase_summary_df['Avg Total Purchase per Person'] = purchase_summary_df['Avg Total Purchase per Person'].map('${:,.2f}'.format)

purchase_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [ ]:
Age Demographics

Establish bins for ages
Categorize the existing players using the age bins. Hint: use pd.cut()
Calculate the numbers and percentages by age group
Create a summary data frame to hold the results
Optional: round the percentage column to two decimal points
Display Age Demographics Table

In [135]:
#let s establish bins for ages column
bins = [0,9.90,14.90,19.90,24.90,29.90,34.90,39.90,99999]
groups = ["<10",'10-14','15-19','20-24','25-29','30-34','35-39','40+']

#let s categorize the players using the age bins
purchase_data_df['Age Groups'] = pd.cut(purchase_data_df["Age"], bins, labels=groups)
age_df = purchase_data_df.groupby(['Age Groups'])

# let s calculate total count and percentages
total_count = age_df['SN'].nunique()
total_count
age_percentage = total_count/total_players *100
age_percentage

#put results in a summary data frame
age_summary_df = pd.DataFrame({"Total Count": total_count,
                              "Percentage of Players": age_percentage})
#format the table
age_summary_df["Percentage of Players"] = age_summary_df['Percentage of Players'].map('{:.2f}%'.format)
age_summary_df

            Total Count Percentage of Players
Age Groups
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

In [ ]:
Purchasing Analysis (Age)

In [158]:
#let s calculate the purchase count
purchase_count = age_df["Purchase ID"].count()
purchase_count
# let s find the total purchase value 
total_purchase_value = age_df["Price"].sum()
total_purchase_value
# let s find the average total purchase per person
averageTotalPurchasePerPerson = total_purchase_value / total_count
averageTotalPurchasePerPerson
# let s find the Average Purchase Price 
avg_purchase_price = age_df["Price"].mean()
avg_purchase_price

# put results in summary data frame
age_purchase_df = pd.DataFrame({"Purchase Count": purchase_count,
                                 "Average Purchase Price": avg_purchase_price,
                                "Total Purchase Value": total_purchase_value,
                                 "Avg Total Purchase per Person": averageTotalPurchasePerPerson})
age_purchase_df

#let's format our table
age_purchase_df["Average Purchase Price"] = age_purchase_df["Average Purchase Price"].map("${:,.2f}".format)
age_purchase_df["Total Purchase Value"] = age_purchase_df["Total Purchase Value"].map("${:,.2f}".format)
age_purchase_df["Avg Total Purchase per Person"] = age_purchase_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
age_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Groups,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [ ]:
Top Spenders

Run basic calculations to obtain the results in the table below
Create a summary data frame to hold the results
Sort the total purchase value column in descending order
Optional: give the displayed data cleaner formatting
Display a preview of the summary data frame

In [171]:
#let s create a table grouped by SN
grouped_sn_df = purchase_data_df.groupby(['SN'])

#let s calculate purchase count
purchasecount = grouped_sn_df["Purchase ID"].count()
purchasecount

#let s calculate the average purchase price
averagepurchaseprice = grouped_sn_df["Price"].mean()
averagepurchaseprice

#let s calulate total purchase value
totalpurchasevalue = grouped_sn_df["Price"].sum()
totalpurchasevalue

#let s create our summary data frame
sn_df = pd.DataFrame({"Purchase Count": purchasecount,
                            "Average Purchase Price": averagepurchaseprice,
                            "Total Purchase Value": totalpurchasevalue})



#let s reorder the table so it looks like the one in the instructions
sn_df = sn_df.sort_values(["Total Purchase Value"], ascending=False)

#let s format the table
sn_df["Average Purchase Price"] = sn_df["Average Purchase Price"].map("${:,.2f}".format)
sn_df["Total Purchase Value"] = sn_df["Total Purchase Value"].map("${:,.2f}".format)

sn_df

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10
...                     ...                    ...                  ...
Ililsasya43               1                  $1.02                $1.02
Irilis75                  1                  $1.02                $1.02
Aidai61                   1                  $1.01                $1.01
Chanirra79                1                  $1.01                $1.01
Alo38                     1                  $1.00                $1.00

[576 rows x 3 columns]

In [ ]:
Most Popular Items

Retrieve the Item ID, Item Name, and Item Price columns
Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
Create a summary data frame to hold the results
Sort the purchase count column in descending order
Optional: give the displayed data cleaner formatting
Display a preview of the summary data frame

In [187]:
# Retrieve the Item ID, Item Name, and Item Price columns
items_df = purchase_data_df[["Item ID", "Item Name", "Price"]]

#let s group by Item ID, Item Name
items_grouped_df = items_df.groupby(["Item ID", "Item Name"])

#let s calculate the purchase count
Purchase_Count = items_grouped_df["Item ID"].count()
Purchase_Count

#let s find the average item price
avg_item_price = items_grouped_df['Price'].mean()
avg_item_price

#let s find the Total purchase value
Total_Purchase_Value = items_grouped_df["Price"].sum()

#let s create a summary table
items_df= pd.DataFrame ({"Purchase Count": Purchase_Count,
                         "Item Price": avg_item_price,
                         "Total Purchase Value": Total_Purchase_Value})
# let's sort data 
items_df = items_df.sort_values(["Purchase Count"], ascending=False)

# let 's format the table
items_df["Item Price"] = items_df["Item Price"].map("${:,.2f}".format)
items_df["Total Purchase Value"] = items_df["Total Purchase Value"].map("${:,.2f}".format)

items_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
...,...,...,...,...
42,The Decapitator,1,$1.75,$1.75
51,Endbringer,1,$4.66,$4.66
118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
104,Gladiator's Glaive,1,$1.93,$1.93
91,Celeste,1,$4.17,$4.17