In [4]:
#let s import our dependencies
import pandas as pd
import numpy as np

#file path
file="Resources/purchase_data.csv"

#read the file
purchase_data_df= pd.read_csv(file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

Player Count

In [3]:
#Calculate and display total number of players 
total_players = len(purchase_data_df['SN'].value_counts())
pd.DataFrame({"Total Players": [total_players]})

   Total Players
0            576

In [ ]:
Purchasing Analysis (Total)

In [ ]:
Run basic calculations to obtain number of unique items, average price, etc.
Create a summary data frame to hold the results
Optional: give the displayed data cleaner formatting
Display the summary data frame

In [19]:
# let s find the number of unique items in our dataset
unique_items= len(purchase_data_df["Item ID"].value_counts())
unique_items

# what is the average price of items?
avg_price = purchase_data_df["Price"].mean()
avg_price = '$%.2f' % avg_price
avg_price

# what s the number of purchases?
number_purchase = len(purchase_data_df["Purchase ID"].value_counts())
number_purchase

# Now calculate the Total Revenue
total_revenue = purchase_data_df["Price"].sum()
total_revenue = '$%.2f' % total_revenue
total_revenue

# display result in a summary data frame
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                           "Average Price":[avg_price],
                           "Number of Purchases":[number_purchase],
                           "Total Revenue":[total_revenue]})
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77