In [38]:
#let s import our dependencies
import pandas as pd
import numpy as np

#file path
file="Resources/purchase_data.csv"

#read the file
purchase_data_df= pd.read_csv(file)
purchase_data_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

Player Count

In [3]:
#Calculate and display total number of players 
total_players = len(purchase_data_df['SN'].value_counts())
pd.DataFrame({"Total Players": [total_players]})

   Total Players
0            576

In [ ]:
Purchasing Analysis (Total)

In [ ]:
Run basic calculations to obtain number of unique items, average price, etc.
Create a summary data frame to hold the results
Optional: give the displayed data cleaner formatting
Display the summary data frame

In [84]:
# let s find the number of unique items in our dataset
unique_items= len(purchase_data_df["Item ID"].value_counts())
unique_items

# what is the average price of items?
avg_price = purchase_data_df["Price"].mean()
avg_price = '$%.2f' % avg_price
avg_price

# what s the number of purchases?
number_purchase = len(purchase_data_df["Purchase ID"].value_counts())
number_purchase

# Now calculate the Total Revenue
total_revenue = purchase_data_df["Price"].sum()
total_revenue = '$%.2f' % total_revenue
total_revenue

# display result in a summary data frame
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                           "Average Price":[avg_price],
                           "Number of Purchases":[number_purchase],
                           "Total Revenue":[total_revenue]})
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [ ]:
Gender Demographics

Percentage and Count of Male Players
Percentage and Count of Female Players
Percentage and Count of Other / Non-Disclosed

In [73]:
# what s the gender count and what percentage each represent?
# First let s create gender table with grouped by method
gender_df = purchase_data_df.groupby(["Gender"])
gender_df

# now let s find the each gender count and their percentage
total_gender_count = gender_df["SN"].nunique()
total_gender_count
gender_percentage = total_gender_count / total_players * 100
gender_percentage

#display result in a summary data frame
gender_summary_df = pd.DataFrame({"Total Count": total_gender_count, "Percentage of Players": gender_percentage})
gender_summary_df          

# Format Percentage of Players column
gender_summary_df["Percentage of Players"] = gender_summary_df["Percentage of Players"].map("{:.2f}%".format)
gender_summary_df

gender_summary_df[["Total Count", "Percentage of Players"]].sort_values(["Total Count"], ascending=False)

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

Purchasing Analysis (Gender)

Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
Create a summary data frame to hold the results
Optional: give the displayed data cleaner formatting
Display the summary data frame

In [111]:
#let s find purchase count
purchase_count = gender_df['Purchase ID'].count()
purchase_count

# let s find the average purchase price
avg_purchase_price = gender_df['Price'].mean()
avg_purchase_price 

#let s find the Total Purchase Value
purchase_value = gender_df['Price'].sum()
purchase_value

#let s find the avg total purchase per person
purchase_per_person = purchase_value/total_gender_count
purchase_per_person

#put results in summary data frame
purchase_summary_df = pd.DataFrame({"Purchase Count": purchase_count,
                                    "Average Purchase Price": avg_purchase_price,
                                   "Total Purchase Value": purchase_value,
                                   "Avg Total Purchase per Person": purchase_per_person})


#let s format the table
purchase_summary_df['Average Purchase Price'] = purchase_summary_df['Average Purchase Price'].map('${:,.2f}'.format)
purchase_summary_df['Total Purchase Value'] = purchase_summary_df['Total Purchase Value'].map('${:,.2f}'.format)
purchase_summary_df['Avg Total Purchase per Person'] = purchase_summary_df['Avg Total Purchase per Person'].map('${:,.2f}'.format)

purchase_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [ ]:
Age Demographics

Establish bins for ages
Categorize the existing players using the age bins. Hint: use pd.cut()
Calculate the numbers and percentages by age group
Create a summary data frame to hold the results
Optional: round the percentage column to two decimal points
Display Age Demographics Table

In [131]:
#let s establish bins for ages column
bins = [0,9,14,19,24,29,34,39,150]
groups = ["<10",'10-14','15-19','20-24','25-29','30-34','35-39','40+']

#let s categorize the players using the age bins
purchase_data_df['Age Groups'] = pd.cut(purchase_data_df["Age"], bins, labels=groups)
age_df = purchase_data_df.groupby(['Age Groups'])

# let s calculate total count and percentages
total_count = age_df['SN'].nunique()
total_count
age_percentage = total_count/total_players *100
age_perc